@font-face{
   font-family: 'Sofia Sans Semi Condensed', sans-serif;
   src: url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;700;800&display=swap');
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 
html {
   scroll-behavior: smooth; 
 }
body{
   background: url("/img/graduation-hat-diploma-scroll-books-wooden-table_9083-2977.jpeg") 0 0/cover no-repeat;;
   min-height: 100vh;
}
.wrapper{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.main{
   /* margin-top: 100px; */
   margin-left: 100px;
   flex: 1 1 auto;
   max-width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
h1{
   font-size: 45px;
   letter-spacing: 5px;
   padding: 40px 0;
   color: #6E0E0E;
}

.main-phone:hover{
   color:  #FF5733;
   transition: 1s;
}
.main-list{
   font-size: 40px;
   padding-left: 50px;
   min-height: 200px;
   color: #022E21;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.main-item{
   /* padding: 30px; */
   list-style: none;
}
i{
   padding: 0 30px;
}
.main-phone{
   color: #6E0E0E;
   font-size: 3rem;
   font-weight: 700;
   padding: 50px 0 150px 0;
}
.footer{
   background-color: #FF5733;
   font-size: 2rem;
   text-align: center;
   padding: 20px 0;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: white;
   width: 100%;
}
@media (max-width: 320px) {
   .main-list {
      font-size: 10px;
   }
   h1{
      font-size: 15px;
   }
   .main-phone{
      font-size: 0.5rem;
   }
}

@media (min-width: 320px){
.main-list{
   font-size: 20px;
   }
h1{
   font-size: 25px;
}
.main-phone{
   font-size: 0.7rem;
}
}
@media (min-width: 820px){
  
.main-list{
   font-size: 30px;
}
h1{
   font-size: 35px;
}
.main-phone{
   font-size: 2rem;
}
}
@media (min-width: 1920px){
.main-list{
   font-size: 40px;
}
.main-phone{
   font-size: 3rem;
}
}
